{
  "route": "blogindex",
  "title": "Hasnain Lakhani's Blog"
}

-extends "base.haml"
-block content

  .row-fluid
    
    .span6
      %h1 << Recent Posts
      
      -for post in recentposts
        .excerpt
          %h3
            %a.permalink href="{{ post.url }}" title="Full article" << &laquo; {{ post.title }}
          %p << {{ post.excerpt }}
          %p << {{ post.date }}
    
    .span6 style="border-left: 1px solid #eee; margin-left: 0; padding-left: 19px; min-height: 500px;"
      %h1 << Featured Posts
      
      -for post in featuredposts
        .excerpt
          %h3
            %a.permalink href="{{ post.url }}" title="Full article" << &laquo; {{ post.title }}
          %p << {{ post.excerpt }}
          %p << {{ post.date }}
