{
  "route": "blogindex",
  "title": "Blog",
  "og_title": "Hasnain Lakhani's Blog",
  "navbar": {
    "index": 1,
    "group": "blog",
    "is_primary": true
  }
}

{% extends "blogbase.html" %}
{% block content %}
<div class="tile is-parent is-6 is-vertical">
    <div class="tile is-child">
        <div class="content">
            <h2 class="title">Featured posts</h2>
        </div>
    </div>
    {% for post in blogposts_featured(count=5) %}
        <div class="tile is-child box">
            {{ macros::post_excerpt_card(post=post) }}
        </div>
    {% endfor %}
</div>
<div class = "tile is-parent is-6 is-vertical">
    <div class="tile is-child">
        <div class="content">
            <h2 class="title">Recent posts</h2>
        </div>
    </div>
    {% for post in blogposts_recent(count=5) %}
        <div class="tile is-child box">
            {{ macros::post_excerpt_card(post=post) }}
        </div>
    {% endfor %}
</div>
{% endblock content %}