{
  "route": "blogarchives",
  "title": "Hasnain Lakhani's Blog - Archives"
}

-extends "base.haml"
-block content

  .row-fluid
    
    %h1 << Archives
      
    -for (year, months) in blogarchives.items()
      -for (month, posts) in months.items()
        %h2 << {{ year }} {{ month }}
        -for post in posts
          .excerpt
            %h3
              %a.permalink href="{{ post.url }}" title="Full article" << &laquo; {{ post.title }}
            %p << {{ post.excerpt }}
            %p << {{ post.date }}
