{
  "route": "blogarchives",
  "title": "Archives",
  "og_title": "Hasnain Lakhani's Blog - Archives",
  "navbar": {
    "index": 1,
    "group": "blog"
  }
}


{% extends "blogbase.html" %}
{% block content %}
<div class="tile is-parent is-8 is-vertical">
    {% for time in blog_archives.entries %}
        <div class="tile is-child">
            <div class="content">
                <h2 class="title">{{ time[0] }} {{ time[1] }}</h2>
            </div>
        </div>
        {% for post in time[2] %}
        <div class="tile is-child box">
            {{ macros::post_excerpt_card(post=post) }}
        </div>
        {% endfor %}
    {% endfor %}
    <div class="tile is-child"></div>
</div>
{% endblock content %}