{
  "route": "index",
  "title": "Hasnain Lakhani's Website",
  "homepage": true,
  
  "sidebar": {
  
    "links": {
      "Resume": "resume/",
      "NewsMap": "http://newsmap.mhlakhani.com/",
      "QuranApp": "http://quranapp.net/",
      "Anahata Solutions": "http://www.anahatasolutions.com/"
    },
    
    "contact": {
      "Email": "mailto:m.hasnain.lakhani@gmail.com"
    }
  },
  
  "calltoaction": "Hello!",
  "catchphrase": "You've come to my deserted corner of the internet. I write code and try to blog about it in my spare time. You might also find some stuff about my academics in here.",
  
  "visitbuttons": {
    "View my resume": "resume/",
    "Visit my blog": "blog/"
  },
  
  "griditems": {
    "NewsMap": {
      "url": "http://newsmap.mhlakhani.com",
      "description": "I wrote a small little side project to help you explore news sources around the world.",
      "tag": "NewsMap"
    }, 
    "Startups": {
      "url": "http://www.anahatasolutions.com",
      "description": "I'm a co founder at Anahata Solutions",
      "tag": "Anahata Solutions"
    },
    "Academia": {
      "url": "http://lums.edu.pk",
      "description": "I'm doing my undergraduate in CS at LUMS",
      "tag": "LUMS"
    }
  }
}

-extends "base.haml"
-block content

  .hero-unit
    %h1 << {{ calltoaction }}
    %p << {{ catchphrase }}
    %p
      -for (message, url) in visitbuttons.iteritems()
        %a.btn.btn-primary.btn-large style="margin-right: 10px;" href={{ url }} << {{ message }} &raquo;
  
  .row-fluid
  
    -for (heading, item) in griditems.iteritems()
      .span4
        %h2 << {{ heading }}
        
        %p << {{ item.description }}
        %p
          %a.btn href={{ item.url }} << {{ item.tag }} &raquo;
  
  .row-fluid
