--- 
title: Home
---
%div.container-fluid
  %div.sidebar
    %div.well
      %h5 Links
      %ul
        %li
          %a(href="https://github.com/mhlakhani/")GitHub
        %li
          %a(href="http://www.anahatasolutions.com/")Anahata Solutions
        %li
          %a(href="http://quranapp.net/")QuranApp.net
      %h5 Contact
      %ul
        %li
          %a(href="mailto:m.hasnain.lakhani@gmail.com") Email

  %div.content
    %div.hero-unit
      %h1 
        Hello!
        %p You've come to my deserted corner of the internet. I write code and try to blog about it in my spare time. You might also find some stuff about my academics in here.
        %p
          %a.btn.primary.large(href="/blog/") Visit my blog &raquo;
    %div.row
      %div.span6
        %h2
          Academics
          %p I'm a CS major at the LUMS SSE
          %p
            %a.btn(href="http://sse.lums.edu.pk")LUMS SSE &raquo;
      %div.span5
        %h2
          Startups
          %p I'm a co-founder of Anahata Solutions
          %p
            %a.btn(href="http://www.anahatasolutions.com")Anahata Solutions &raquo;
      %div.span5
        %h2
          QuranApp.net
        %p I'm the guy that wrote QuranApp.net
        %p
          %a.btn(href="http://quranapp.net")QuranApp.net &raquo;

