{
  "route": "resume",
  "title": "Hasnain Lakhani's Blog",
  
  "name": "Hasnain Lakhani",
  "email": "m.hasnain.lakhani@gmail.com",
  "phone": "(650) 289-8191",
  
  "tagline": "Developer, Entrepreneur",
  "profile": "Interested in practical research to advance the pinnacle of knowledge, as well as building something to help the masses.",
  
  "open_source": [
    { 
      "name": "QuranApp",
      "url": "http://quranapp.net",
      "description": "Web Application that allows users to create document collections of various Quranic Ayats."
    },
    {
      "name": "Halwa",
      "url": "http://github.com/mhlakhani/halwa",
      "description": "Static site generator written in Python."
    },
    {
      "name": "NewsMap",
      "url": "http://newsmap.mhlakhani.com",
      "description": "Web application that allows users to easily browse the newspapers of the world."
    }
  ],
  
  "technical": [
    {
      "Languages": ["Python", "C++", "C#", "Java"],
      "Frameworks": ["Flask", "Django", "wxPython", "WinForms"],
      "Platforms": ["Web", "Samsung Bada", "Windows", "Linux"],
      "Libraries": ["SQLAlchemy", "Reportlab", "BeautifulSoup", "xhtml2pdf"]
    },
    {
      "Software": ["gVim", "Visual Studio", "Eclipse", "Netbeans"],
      "Databases": ["MySQL", "Postgres", "MS-SQL", "Redis"],
      "VCS": ["Git", "Bazaar", "SVN", "Mercurial"],
      "Misc": ["PDF Generation", "Scripting", "Excel Automation", "MATLAB"]
    }
  ],
  
  "jobs": [
    {
      "company": "SRI International",
      "position": "Software Engineer",
      "period": "October 2013 - Present",
      "description": "Security development for content-centric mobile networks. Focusing on security usability and productization of next generation mobile networking infrastructure."
    },
    {
      "company": "Anahata Solutions",
      "position": "CTO",
      "period": "June 2010 - May 2013",
      "description": "Developing a line of applications for the Samsung Bada platform. Creating a distributed analytics solution. Writing web service back-ends for Android applications. Making strategic business decisions. Managing a team of developers."
    },
    {
      "company": "SRI International",
      "position": "International Fellow",
      "period": "August 2012 - January 2013",
      "description": "Studying decentralized capability-based authorization protocols for content-based networks."
    },
    {
      "company": "Lahore University of Management Sciences",
      "position": "Research Assistant",
      "period": "June 2011 - June 2013",
      "description": "Research into computer networks, computer security, distributed systems, and data provenance."
    },
    {
      "company": "Lahore University of Management Sciences",
      "position": "Teaching Assistant",
      "period": "August 2011 - May 2013",
      "description": "Holding tutorials and office hours. Grading quizzes. Handling administrative activities. Courses: Discrete Math (Fall 2011), Data Structures (Spring 2012), Network Security (Spring 2013)."
    }

  ],
  
  "education": [
    {
      "institution": "Lahore University of Management Sciences",
      "graduation": "2013",
      "description": "BS in Computer Science &mdash; 3.91 CGPA, 4.00 SCGPA, Gold Medalist"
    },
    {
      "institution": "PISES, Riyadh, Saudi Arabia",
      "graduation": "2009",
      "description": "A Levels with 4 As in Mathematics, Physics, Chemistry and Computing"
    }
  ],
  
  "awards": [
    {
      "title": "Speed Programming Competition, GIKI Softcom '10",
      "position": "Winner",
      "date": "2010"
    },
    {
      "title": "IEEEXtreme 5.0",
      "position": "Top 30 in Asia (R09)",
      "date": "2011"
    },
    {
      "title": "IEEE National CodinGuru '10",
      "position": "Third Position",
      "date": "2010"
    },
    {
      "title": "Intra-LUMS CodinGuru '09",
      "position": "Third Position",
      "date": "2009"
    }
  ],
  
  "academic_interests": [
    ["Algorithms", "Discrete Mathematics"],
    ["Functional Programming", "Compilers"],
    ["Data Provenance", "Distributed Systems"],
    ["Artificial Intelligence", "Machine Learning"]
  ],
  
  "projects": [
    "Steganography with mazes in MATLAB",
    "Firefighting robot using DTMF",
    "Scalable Verification of Outsourced Dynamic Replicated Databases",
    "Automated cracking of substitution ciphers using Genetic Algorithms"
  ]
}

%html
  %head
    %title << {{ name }}'s Resume
    %meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    %link href="/static/css/reset-fonts-grids.css" rel="stylesheet" type="text/css"
    %link href="/static/css/resume.css" rel="stylesheet" type="text/css"
    
    %script type="text/javascript"
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-20351920-1']); _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    
  %body
    .yui-t7#doc2
      #inner
        #hd
          .yui-gc
            .yui-u.first
              %h1 << {{ name }}
              %h2 << {{ tagline }}
            .yui-u
              .contact-info
                %h3
                  %a#pdf href="/static/pdf/resume.pdf" << Download PDF
                %h3
                  %a href="mailto:{{ email }}" << {{ email }}
                %h3 << {{ phone }}
        
        #bd
          #yui-main
            .yui-b
              .yui-gf
                .yui-u.first
                  %h2 << Profile
                .yui-u
                  %p.enlarge << {{ profile }}
              
              .yui-gf
                .yui-u.first
                  %h2 << Experience
                .yui-u
                  -for job in jobs
                    %div class="job{% if loop.last %} last{% endif %}"
                      %h2 << {{ job.company }}
                      %h3 << {{ job.position }}
                      %h4 << {{ job.period }}
                      %p << {{ job.description }}
              
              .yui-gf
                .yui-u.first
                  %h2 << Open Source
                .yui-u
                  -for item in open_source
                    .talent
                      %h2 
                        %a href="{{ item.url }}" << {{ item.name }}
                      %p << {{ item.description }}
              
              .yui-gf
                .yui-u.first
                  %h2 << Technical
                .yui-u
                  -for row in technical
                    -for skill, items in row.items()
                      %ul.talent
                        %li 
                          %strong << {{ skill }}
                        
                        -for item in items
                          %li class="{% if loop.last %}last{% endif %}" << {{ item }}
                            
                    -if not loop.last
                      %hr
                  
              .yui-gf
                .yui-u.first
                  %h2 << Education
                
                -for item in education
                  %div class="yui-u job{% if loop.last %} last{% endif %}"
                    %h2 << {{ item.institution }}
                    %h3 << {{ item.description }}
                    %h4 << {{ item.graduation }}
                  
              .yui-gf
                .yui-u.first
                  %h2 << Awards
                .yui-u
                  -for item in awards
                    %div class="job{% if loop.last %} last{% endif %}"
                      %h2 << {{ item.title }}
                      %h3 << {{ item.position }}
                      %h4 << {{ item.date }}
                
              .yui-gf
                .yui-u.first
                  %h2 << Academic Interests
                .yui-u
                  -for column in academic_interests
                    %ul.talent
                      -for row in column
                        %li << {{ row }}

              .yui-gf.last
                .yui-u.first
                  %h2 << Projects
                .yui-u
                  %ul
                    -for project in projects
                      %li << {{ project }}
        
        #ft
          %p
            {{ name }} &mdash;
            %a href="mailto:{{ email }}" << {{ email }}
            &mdash; {{ phone }}
