{
  "route": "tag",
  "title": "Hasnain Lakhani's Blog - "
}

-extends "base.haml"
-block content

  .row-fluid
    
    %h1 << Posts tagged "{{ tagname }}"
      
    -for post in tagposts
      .excerpt
        %h3
          %a.permalink href="{{ post.url }}" title="Full article" << &laquo; {{ post.title }}
        %p << {{ post.excerpt }}
        %p << {{ post.date }}
