!!! Strict
%html
  %head
    %title Hasnain Lakhani's Blog
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %link(href="/static/css/stylesheet.css" rel="stylesheet" type="text/css")
    = render('_ganalytics')

  %body(style="padding-top: 60px;")
    %div.topbar
      %div.topbar-inner
        %div.container-fluid
          %a.brand(href="/") Hasnain Lakhani's Website
          %ul.nav
            %li
              %a(href="/") Home
            %li.active
              %a(href="/blog/") Blog
              
    %div.container-fluid
      %div.sidebar
        %div.well
          %h5
            %a(href="/blog/") Blog Home
          %h5
            %a(href="/blog/archives/") Archives
          %h5
            %a(href="/blog/atom.xml") RSS Feed
          %h5 
            %a(href="/blog/tags/") Tags
          %ul
            - tags = count_tags()
            - tags.each.sort_by {|k,v| k}.each do |tag_count|
              - tag = tag_count[0]
              %li
                %a(href="/blog/tags/#{tag}/" class='tag')= tag
    
      = yield

    %footer
      %p &copy; Muhammad Hasnain Lakhani 2011
