{% import "macros.html" as macros %}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Hasnain Lakhani">
    <title>{% if title %}{{ title }}{% else %}{{ sitename }}{% endif %}</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bulma-prefers-dark.css">
    {% endblock css %}
    {% block script %}
    <script src="/static/js/navbar.js"></script>
    {% endblock script %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z519D1RKZC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-Z519D1RKZC');
    </script>
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{% if og_title %}{{ og_title }}{% else %}{{ sitename }}{% endif %}">
    <meta property="og:type" content="{% if og_type %}{{ og_type }}{% else %}website{% endif %}">
    {% if og_description %}
    <meta property="og:description" content="{{ og_description }}">
    {% endif %}
</head>

<body>
    {% include "navbar.html" %}
    {% block body %}
    {% endblock body %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; Hasnain Lakhani 2022</p>
        </div>        
    </footer>
</body>

</html>