%html

  %head
    %meta charset="utf-8"
    %meta name="viewport" content="width=device-width, initial-scale=1.0"
    %meta name="description" content=""
    %meta name="author" content=""
    %title << {{ title }}
    
    %link href="/static/css/bootstrap.min.css" rel="stylesheet"
    %link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"
    
    -block css
    
    %style type="text/css"
      body { padding-top: 60px; padding-bottom: 40px; }
      .sidebar-nav { padding: 9px 0; }
    
    %script type="text/javascript"
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-20351920-1']); _gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    
    -block script

  %body onload="{{ onload }}"

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand href="{{ url_for("index") }}" << Hasnain Lakhani's Website
          
          .nav-collapse.collapse
            %ul.nav
              -if homepage
                %li.active
                  %a href="/" << Home
                %li
                  %a href="{{ url_for("blogindex") }}" << Blog
                %li
                  %a href="{{ url_for("readerscornerhome") }}" << Reader's Corner
              -else
                -if readerscornerpage
                  %li
                    %a href="/" << Home
                  %li
                    %a href="{{ url_for("blogindex") }}" << Blog
                  %li.active
                    %a href="{{ url_for("readerscornerhome") }}" << Reader's Corner
                -else
                  %li
                    %a href="/" << Home
                  %li.active
                    %a href="{{ url_for("blogindex") }}" << Blog
                  %li
                    %a href="{{ url_for("readerscornerhome") }}" << Reader's Corner
    
    .container-fluid
      .row-fluid
        .span2
          .well.sidebar-nav
            %ul.nav.nav-list
            
              -for (header, links) in sidebar.items()
                %li.nav-header << {{ header }}
                
                -for (blurb,link) in links.items()
                  %li
                    %a href="{{ link }}" << {{ blurb }}
        
        .span10
          -block content
      
      %hr
      
      %footer
        %p << &copy; Muhammad Hasnain Lakhani 2014
