<nav class="navbar has-shadow" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="/">
                <h3 class="subtitle is-3 is-spaced">{{ sitename }}</h3>
            </a>
            <a role="button" class="navbar-burger burger" data-target="navMenu">
                <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            {% for entry in navbar.entries %}
            {% if entry.children %}
              <div class = "navbar-item has-dropdown is-hoverable">
                <a
                  class="navbar-link {% if entry.active %} is-active {% else %} {% endif %} "
                  href="{{ entry.url }}">
                  {{ entry.title }}
                </a>

                <div class="navbar-dropdown">
                {% for child in entry.children %}
                  <a
                    class="navbar-item {% if child.active %} is-active {% else %} {% endif %} "
                    href="{{ child.url }}">
                    {{ child.title }}
                  </a>
                {% endfor %}
                </div>
              </div>
            {% else %}
              <a 
                class="navbar-item {% if entry.active %} is-active {% else %} {% endif %} " 
                href="{{ entry.url }}">
                {{ entry.title }}
              </a>
            {% endif %}
          {% endfor %}

          </div>
        </div>
      </div>
    </div>
</nav>